<footer class="page-footer dc-green-footer">
	<div class="container">
		<div class="row">
			<div class="col l6 s12">
				<h5 class="white-text">More Information</h5>
				
				<p class="grey-text text-lighten-4">Have a question? We're here for you! Email us <a class="grey-text text-darken-3" href="mailto:hi@dishcrawl.com">hi@dishcrawl.com</a>.</p>

				<p class="grey-text text-lighten-4">Our sister company <a class="grey-text text-darken-3" href="http://wingman.events">Wingman</a> focuses on corporate events.</p>

			</div>
			<div class="col l4 offset-l2 s12 white-text">
				<h5 class="white-text">Get Social With Us!</h5>
				<ul>
					<li>{{fa-icon "twitter"}}<span class="margin-left-10"><a class="white-text" href="http://twitter.com/dishcrawl" target="_blank">Twitter</a></span></li>

        			<li>{{fa-icon "facebook"}}<span class="margin-left-10"><a class="white-text" href="http://facebook.com/dishcrawl" target="_blank">Facebook</a></span></li>

        			<li>{{fa-icon "instagram"}}<span class="margin-left-10"><a class="white-text" href="http://instagram.com/dishcrawl" target="_blank">Instagram</a></span></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="container">
			© 2015 Copyright Dishcrawl
		</div>
	</div>
</footer>