<p>
	Washington D.C. is a foodie paradise with creative cuisine, celebrity chefs, and unique venues. The nation's capital has an eclectic set of dishes from a diverse set of restaurants and you can find good food at any price range. 
</p>
<p>
	You're sure to find something you love here, but in case you don't have time, we've tasted some for you!
</p>
<div class="row">
	{{log content.dishes}}
	<div class="col s12 cards-container">
	{{#each content.dishes as |dish|}}
			{{dish-card dish=dish}}
		{{/each}}
	</div>
</div>
<p>
	Hope you try these awesome Washington D.C. dishes and they curb those cravings 'til we eat again! 
</p>