<p>
	New York City is known as a "melting pot" and it's food scene mirrors that perfectly! With tens of thousands of restaurants, kiosks, delis, and food trucks, there is no place in the world quite like it. We've rounded up some dishes for you to try while you're in the Big Apple. 
</p>
<p>
	Don't forget to tell us what foodie finds you found in this great city! What did you find in the nooks and crannies of New York?
</p>

<div class="row">
	{{log content.dishes}}
	<div class="col s12 cards-container">
	{{#each content.dishes as |dish|}}
			{{dish-card dish=dish}}
		{{/each}}
	</div>
</div>
